<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="icons/favicon-16x16.png"
    />
    <link rel="manifest" href="icons/site.webmanifest" />
    <title>Comrades Cove</title>
    <script
      src="https://kit.fontawesome.com/f9371e1f01.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://checkout.stripe.com/checkout.js" defer></script>
    <script>
      var stripePublicKey = `<%= stripePublicKey %>`;
    </script>
    <script src="js/donate.js" defer></script>
  </head>
  <body>
    <div class="nav">
      <div class="inline">
        <a href="/home"
          ><img
            id="logo"
            src="https://i.ibb.co/DgLFTpV/Comrades-Cove.png"
            alt=""
        /></a>
        <h1 id="title">Comrades Cove</h1>
      </div>
      <div class="inline">
        <a href="/user"><h1 id="username"><%= username %></h1></a>
        <a href="/user"><%- avatar %></a>
      </div>
    </div>

    <div id="newEntry" class="modal">
      <div class="modal-content">
        <div class="inline">
          <h2 id="modal-title">Donate</h2>
        </div>
        <div id="main-inputs" class="stacked">
          <input
            id="name"
            name="Name"
            class="modal-input"
            type="text"
            placeholder="Name..."
          />
          <input
            id="amount"
            onchange="changeValues()"
            onkeyup="changeValues()"
            name="Amount"
            class="modal-input"
            type="number"
            min="0.00"
            step="0.01"
            placeholder="Amount... (ex. 5, 10, 15, 20, etc.)"
          />
        </div>
        <div class="inline-flex">
          <button id="modal-button-donate" onclick="donateClicked()">
            Donate
          </button>
          <input id="total" class="modal-input-total" type="text" />
        </div>
      </div>
    </div>
  </body>
</html>
