<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <title>Comrades Cove</title>
    <script
      src="https://kit.fontawesome.com/f9371e1f01.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="content-area">
        <div class="content">
        <div class="nav">
            <div class="inline">
            <a href="/home"
                ><img
                id="logo"
                src="https://i.ibb.co/DgLFTpV/Comrades-Cove.png"
                alt=""
            /></a>
            <h1 id="title">Comrades Cove</h1>
            </div>
            <div class="inline">
            <a href="/logout"><button class="button-login logout">Logout</button></a>
            <a href="/user"><h1 id="username"><%= username %></h1></a>
            <a href="/user"><%- avatar %></a>
        </div>
      </div>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>