@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Oleo+Script&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #111111;
}

h1 {
  color: #111111;
  font-size: 12px;
}

a {
  text-decoration: none;
}

hr {
  margin: 0 20px;
  opacity: 20%;
}

#mods li {
  color: #f9f9f9;
}

#grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.mods h1 {
  padding-bottom: 20px;
  font-size: 30px;
  color: #f9f9f9;
}

.fa-bars {
  color: #f9f9f9;
  margin-left: 20px;
  font-size: 30px;
  display: none;
}

.nav-links {
  padding-left: 20px;
}

.nav-links a {
  color: #f9f9f9;
  padding-left: 20px;
  font-size: 17px;
  font-weight: bold;
  transition: all 0.25s ease-in-out;
}

.nav-links a:hover {
  color: #111111;
}

.button {
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  border-radius: 2px;
  font-weight: bold;
  border: none;
  background-color: #111111;
  color: #dddddd;
  padding: 10px 20px;
  transition: all 0.25s ease-in-out;
}

.button:hover {
  background-color: #f9f9f9;
  color: #111111;
}

.button-login {
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  border-radius: 2px;
  font-weight: bold;
  border: none;
  background-color: #111111;
  color: #dddddd;
  padding: 5px 15px;
  transition: all 0.25s ease-in-out;
}

.button-login:hover {
  background-color: #f9f9f9;
  color: #111111;
}

.logout {
  margin-right: 10px;
}

/* Nav Bar Styles */

#nav {
  padding: 5px 15px;
  position: fixed;
  z-index: 5;
}

.inline {
  display: flex;
  align-items: center;
}

#title {
  padding-left: 20px;
  font-family: 'Oleo Script', cursive;
  color: #f9f9f9;
  text-align: center;
  font-size: 35px;
  transition: all 0.5s ease-in-out;
}

#username {
  padding-right: 10px;
  color: #111111;
  font-size: 18px;
  transition: all 0.25s ease-in-out;
}

#username:hover {
  color: #f9f9f9;
}

#logo {
  width: 35px;
  height: 35px;
  margin-top: 5px;
  border-radius: 25%;
  transition: all 0.5s ease-in-out;
}

#user-logo {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

#user-logo:hover {
  transform: rotate(360deg);
}

/* End Nav Bar Styles */

/* .inline {
  display: flex;
  justify-content: space-between;
} */

input::-webkit-color-swatch {
  border: none;
}

#colorpicker {
  border: none;
  margin-top: 10px;
  width: 100%;
  height: 30px;
}

#everyone {
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}

#everyonelabel {
  color: #f9f9f9;
  padding-left: 5px;
}

.verticalcenter {
  position: relative;
}

.centered-text {
  text-align: center;
  padding-top: 20px;
}

.centered-middle {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
}

.card-title {
  color: #75eaff;
  padding-bottom: 10px;
}

.data h1,
h3,
li {
  color: #111111;
}

.color {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  background-color: #111111;
  height: 100vh;
  opacity: 0.6;
}

.banner-img {
  z-index: -1;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: url('../images/7.png');
  background-size: cover;
}

.banner-area {
  height: 100vh;
}

#brand-logo {
  width: 100%;
  margin: 0 auto;
  animation: onLoadTitle 0.75s ease-in-out;
}

.section {
  width: 100%;
  height: 100vh;
}

.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  grid-gap: 20px;
  padding-top: 20px;
  margin: 0 20px;
}

.card {
  position: relative;
  cursor: pointer;
  height: auto;
  min-height: 300px;
  width: 100%;
  margin: 0px auto;
  background-color: #444444;
  opacity: 80%;
  padding: 30px;
  transition: all 0.15s ease-in-out;
}

.card h1 {
  font-size: 21px;
}

.card p {
  font-size: 18px;
  color: #dddddd;
}

.card:hover {
  opacity: 100%;
  transform: translate(0px, -4px);
}

.more-button {
  position: absolute;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 20px;
  bottom: 0;
  left: 0;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  border-radius: 2px;
  font-weight: bold;
  border: none;
  background-color: #75eaff;
  color: #111111;
  padding: 5px 15px;
  transition: all 0.25s ease-in-out;
}

.more-button:hover {
  background-color: #e0e0e0;
}

#title-brand {
  font-family: 'Oleo Script', cursive;
  font-size: 70px;
  color: #f8f8f8;
  animation: onLoadTitle 0.75s ease-in-out;
}

.title-info {
  margin-top: 20px;
  font-size: 35px;
  color: #dddddd;
  text-align: center;
}

.title {
  font-size: 35px;
  padding-bottom: 20px;
  color: #dddddd;
  text-align: center;
}

.para {
  font-size: 15px;
  color: #dddddd;
  text-align: center;
}

.purple {
  color: rgb(136, 92, 194);
}

.blue {
  color: #378bda;
}

#discord-widget {
  margin: auto;
  display: block;
  padding-top: 40px;
}

#discord {
  position: fixed;
  z-index: 5;
}

.section-wrapper {
  margin: 0px 40px;
  height: 82%;
}

/* Modal */

.modal-input {
  margin-bottom: 10px;
  padding: 5px 10px;
  width: 100%;
  background-color: #222222;
  border: 1px solid #525252;
  color: #cecece;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}

.modal-input-total {
  width: 25%;
  padding: 5px 10px;
  background-color: #222222;
  border: 1px solid #525252;
  color: #cecece;
  font-family: 'Oswald', sans-serif;
}

.modal-select {
  padding: 5px 10px;
  margin-top: 10px;
  width: 100%;
  border: 1px solid #525252;
  background-color: #222222;
  color: #cecece;
}

.modal-textarea {
  padding: 5px 10px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  border: 1px solid #525252;
  background-color: #222222;
  color: #cecece;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}

.modal-select:focus {
  outline: none;
}

.modal {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.modal-content {
  max-width: 500px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #222222;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  width: 40%;
}

.modal-content h2 {
  padding-bottom: 28px;
  color: #b9b9b9;
}

.inline-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}

#modal-button-donate {
  cursor: pointer;
  padding: 5px 30px;
  margin-right: 10px;
  background-color: #0061bd;
  border: none;
  color: #eeeeee;
  font-weight: bold;
  transition: all 0.25s ease-in-out;
}

#modal-button-post {
  cursor: pointer;
  width: 100%;
  padding: 5px 30px;
  margin-top: 10px;
  background-color: #0061bd;
  border: none;
  color: #eeeeee;
  font-weight: bold;
  transition: all 0.25s ease-in-out;
}

#modal-button-donate:hover {
  background-color: #eeeeee;
  color: #1d1d1d;
}

#posted {
  background-color: #18da79;
  font-weight: bold;
  color: #023019;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

/* End Modal */

/* Keyframes */

@keyframes onLoadTitle {
  from {
    transform: translate(0%, -25%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* End Keyframes */

/* Media Queries */

@media (max-width: 1650px) {
  .grid4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 850px) {
  #username {
    display: none;
  }
  #title {
    display: none;
  }
  .grid4 {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* End Media Queries */
