/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #f2f2f2;
}
html {
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
button {
  border: none;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #111111;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open {
  width: 250px;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.1s ease;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.1s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: 0s;
  color: #111111;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #111111;
  color: #fff;
}
.sidebar.open .bx-search:hover {
  background: #111111;
  color: #fff;
}
.sidebar .bx-search:hover {
  background: #fff;
  color: #111111;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.1s ease;
  background: #111111;
}
.sidebar li a:hover {
  background: #fff;
}
.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.1s ease;
  color: #111111;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1f1f1f;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile {
  width: 250px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1f1f1f;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar .profile #log_out:hover {
  color: #f2f2f2;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}
.home-section {
  position: relative;
  background: #323646;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  background: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  z-index: 2;
}
.discord-section {
  position: relative;
  background-color: #282d3d;
  left: 78px;
  width: calc(100% - 78px);
  z-index: 2;
  height: fit-content;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 50px;
}
.info-section {
  position: relative;
  background-color: #282d3d;
  left: 78px;
  width: calc(100% - 78px);
  z-index: 2;
  height: fit-content;
  padding: 50px;
}
.donate-section {
  position: relative;
  background-color: #282d3d;
  left: 78px;
  width: calc(100% - 78px);
  z-index: 2;
  height: fit-content;
  padding: 50px;
}
.store-section {
  position: relative;
  background-color: #282d3d;
  left: 78px;
  width: calc(100% - 78px);
  z-index: 2;
  min-height: 100vh;
  height: fit-content;
  padding: 50px;
}
.base-section {
  position: relative;
  background-color: #282d3d;
  left: 78px;
  width: calc(100% - 78px);
  z-index: 2;
  height: fit-content;
  padding: 50px;
}
.discord-section h1,
p,
li {
  color: #f2f2f2;
}
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text {
  display: inline-block;
  color: #111111;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}
#main {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
}
.profile-img img {
  width: 50px;
  border-radius: 6px;
}
#logo {
  width: 16px;
}
.centered-middle {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.centered-middle img {
  max-width: 700px;
  min-width: 300px;
}
.staff-card {
  padding: 10px 0;
  background-color: #363e55;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.staff-card img {
  width: 90px;
  border-radius: 50%;
}
.staff-card h2 {
  color: #f2f2f2;
  font-size: 16px;
  padding-top: 10px;
}
.store-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #363e55;
  font-size: 12px;
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 2px;
}
.store-button {
  color: #111111;
  background-color: #75c46e;
  padding: 0 20px;
  border-radius: 5px;
  cursor: pointer;
}
.store-button:hover {
  background-color: #85df7c;
}
.store-input {
  border: 2px solid #363e55;
  background-color: #282d3d;
  width: 100%;
  padding: 5px 20px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.store-input:focus {
  outline: 2px solid #c5c5c5;
}
.donategrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 50%;
}
.donate-button {
  border: none;
  background-color: #282d3d;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.donate-button:hover {
  background-color: #e2e2e2;
  color: #111111;
}
.donate-input {
  border: none;
  background-color: #282d3d;
  width: 100%;
  padding: 5px 20px;
  border-radius: 5px;
  margin-top: 10px;
}
.donate-input:focus {
  outline: 2px solid #e2e2e2;
}
.donate-wrapper {
  background-color: #363e55;
  min-width: 200px;
  width: 600px;
  padding: 30px;
  border-radius: 10px;
}
.grid2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.grid3 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid4 {
  display: grid;
  grid-gap: 10px;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}
.display-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.buy-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 78px;
  top: 0;
  height: 100%;
  width: calc(100% - 78px);
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.75);
}
.buy-content {
  border-radius: 5px;
  max-width: 600px;
  min-width: 200px;
  background-color: #2b2b2b;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.buy-button {
  border: none;
  margin-top: 10px;
  width: 100%;
  background-color: #1b1b1b;
  padding: 5px 20px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.buy-button:hover {
  background-color: #e2e2e2;
  color: #1b1b1b;
}
.admin-wrapper {
  background-color: #363e55;
  min-width: 200px;
  max-width: 800px;
  padding: 30px;
  border-radius: 10px;
}
.admin-button {
  border: none;
  margin-top: 10px;
  width: 100%;
  background-color: #282d3d;
  padding: 5px 20px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.admin-button:hover {
  background-color: #e2e2e2;
  color: #111111;
}
.admin-textbox {
  border: none;
  margin-top: 10px;
  width: 100%;
  background-color: #282d3d;
  padding: 5px 20px;
  border-radius: 7px;
  font-size: 13px;
}
.admin-textarea {
  border: none;
  margin-top: 10px;
  max-width: 100%;
  min-width: 100%;
  background-color: #282d3d;
  padding: 5px 20px;
  border-radius: 7px;
  font-size: 13px;
}
.admin-select {
  border: none;
  margin-top: 10px;
  width: 100%;
  background-color: #282d3d;
  padding: 5px 20px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
#admin-color-picker {
  border: none;
  outline: none;
  -webkit-appearance: none;
  margin-top: 10px;
  margin-right: 20px;
  width: 100%;
  border-radius: 7px;
  cursor: pointer;
  height: 30px;
}
#admin-color-picker::-webkit-color-swatch-wrapper {
  padding: 0;
}
#admin-color-picker::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
}
.admin-label {
  margin-top: 7px;
  margin-right: 10px;
}
.admin-checkbox {
  margin-top: 14px;
  border: none;
  background-color: #282d3d;
}
.admin-textbox:focus {
  outline: 2px solid #e2e2e2;
}
.admin-textarea:focus {
  outline: 2px solid #e2e2e2;
}
.hidden {
  display: none;
}
.post {
  display: none;
  background-color: #46913f;
  text-align: center;
  border-radius: 5px;
}
.admin-user-wrapper {
  background-color: #363e55;
  display: flex;
  justify-content: space-between;
  min-width: 200px;
  max-width: 800px;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
}
.display-right {
  float: right;
}
.nav-modal {
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  padding: 15px;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.85);
}
.nav-content {
  text-align: center;
  font-size: 20px;
}
.nav-content a {
  text-decoration: none;
}
.nav-list li {
  margin-bottom: 5px;
}
#modal-menu-open {
  cursor: pointer;
  font-size: 36px;
}
#modal-menu-close {
  cursor: pointer;
  font-size: 36px;
}
@media only screen and (min-width: 750px) {
  #modal-menu-open {
    display: none;
  }
  .mobile-header {
    display: none;
  }
}
@media only screen and (max-width: 750px) {
  .sidebar {
    display: none;
  }
  .store-section {
    left: 0px;
    width: 100%;
    padding: 15px;
  }
  .buy-modal {
    left: 0px;
    width: 100%;
    padding: 15px;
  }
  .home-section {
    left: 0px;
    width: 100%;
    padding: 15px;
  }
  .discord-section {
    left: 0px;
    width: 100%;
    padding: 15px;
  }
  .info-section {
    left: 0px;
    width: 100%;
    padding: 15px;
  }
  .donate-section {
    left: 0px;
    width: 100%;
    padding: 15px;
  }
  .base-section {
    left: 0px;
    width: 100%;
    padding: 15px;
  }
  .admin-user-wrapper {
    display: block;
  }
}
